<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<body>
    <form id="addForm" method="post">
        <center><br><br>
            商品名称：<input class="easyui-textbox" name="sname" style="width:200px"><br><br>
            商品类型：<input type="radio" name="stype" value="电器">电器
                    <input type="radio" name="stype" value="食品">食品
                    <input type="radio" name="stype" value="水果">水果<br><br>
            商品价格：<input class="easyui-textbox" name="sprice"  style="width:200px"><br><br>
        </center>
    </form>
</body>
</html>